<h1>Modifier la Recette</h1>

<%= form_with model: @recipe do |form| %>
  <% if @recipe.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, "Nom de la recette", class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Description", class: "form-label" %>
    <%= form.text_area :description, rows: 4, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :category, "Catégorie", class: "form-label" %>
    <%= form.select :category, ['entrée', 'plat', 'dessert'], {}, class: "form-control" %>
  </div>

  <%= form.submit "Mettre à jour", class: "btn btn-flat" %>
  <%= link_to "Annuler", @recipe, class: "btn btn-ghost" %>
<% end %>
